{% extends "base.html" %} {% block title %}Match History{% endblock %} {% block
content %}
<h1>Match History</h1>
<div class="container mb-5 mt-3">
  <div class="text-right">
    <input
      type="text"
      id="myInput"
      onkeyup="myFunction()"
      placeholder="Search for names..."
    />
  </div>
  <br></br>
  <table class="table" id="myTable">
    <thead>
      <tr>
        <th scope="col">Game</th>
        <th scope="col">Details</th>
        <th scope="col">Time</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      {% for match in matches %}
      <tr>
        <th scope="row">{{match.id}}</th>
        <td>
          {{match.winner}}
          (+{{match.gain}}) beat
          {{match.loser}}
          (-{{match.loss}})!
        </td>
        <td>{{match.date.strftime('%-I:%M %p')}}</td>
        <td>{{match.date.strftime('%Y/%m/%d')}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  function myFunction() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>
{% endblock %}
